* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block1 {
    background-color: yellow;
    width: 700px;
    height: 700px;
    position: relative;
    // pointer-events: none;
}

.block2 {
    background-color: red;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.block3 {
    background-color: blue;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}